//@import url('https://fonts.googleapis.com/css?family=Montserrat');
//@import url('https://fonts.googleapis.com/css?family=Roboto');
//@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
//@import url('https://fonts.googleapis.com/css?family=Alegreya');
//@import url('https://fonts.googleapis.com/css?family=Lato');
//@import url('https://fonts.googleapis.com/css?family=Roboto');
//@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.reveal {
    font-family: 'Open Sans', sans-serif;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
    }

    img {
        border: none !important;
        box-shadow: none !important;
        width: 400px;
    }

    em {
        color: #777;
        font-size: 0.75em !important;
        font-style: normal !important;
    }
}

.no-dec {
    list-style: none !important;
}

.orange {
    color: #f68320;
}

h2 {
    font-weight: bolder;
}

.noms {
    margin-top: 220px !important;
    p {
        line-height: 25px;
    }
    line-height: 25px;
}



// SLIDE 2
.deux {
    h2 {
        margin-top: -100px;
    }

    .columns {
        margin-top: 200px;

        .left {
            margin-right: 500px;

            .outter {
                list-style: none;
                font-weight: bold;
                margin: 20px auto 10px auto;
            }

            .inner {
                list-style: none;
            }
        }

        .right {
            margin-top: -150px;

            img {
                display: block;
            }

            .inte {
                width: 450px;
            }

            .diff {
                margin-top: 200px;
                width: 250px;
            }
        }
    }
}



// SLIDE 3
.trois {
    .title-box {
        .sub-title-context {
            opacity: 0;
            h3 {
                position: relative;
                left: 200px;
            }
            img {
                z-index: -1;
                position: relative;
                left: 500px;
                bottom: 250px;
                width: 400px;
            }
        }
    }

    .textes {

    }

    .columns {
        margin-top: 200px;

        p {
            z-index: 1;
            font-family: 'Dancing Script', cursive;
            font-size: 55px !important;
        }

        em {
            z-index: 1;
            display: block;
        }

        img {
            z-index: 0;
        }

        .descartes {
            img {
                margin-top: -15px;
                transform: scale(0.9)
            }

            p {
                position: relative;
                top: 40px;
                left: 180px;
            }
        }

        .newton {

            img {
                margin-top: 60px;
                transform: scaleX(-1) scale(1.16);
            }

            p {
                position: relative;
                top: 80px;
                right: 60px;
            }
        }

        .young {

            img {
                margin-top: 0px;
                transform: scaleX(-1) scale(0.9)
            }

            p {
                position: relative;
                top: 20px;
                right: 40px;
            }
        }

    }

    .thug {
        position: relative;
        top: -45px;

        img {
            z-index: 2;
        }

        .hat {
            position: relative;
            bottom: 700px;
            left: 630px;
            transform: scale(0.5);
        }

        .glasses {
            position: relative;
            bottom: 1350px;
            left: 630px;
            transform: scale(0.7);
        }

        .cig {
            position: relative;
            bottom: 850px;
            left: 520px;
            transform: scale(0.4);
        }
    }

    .dates {
        position: relative;
        top: -1250px;
        h2 {
            color: #777;
            position: relative;
            font-family: 'Roboto Slab', serif;
            font-weight: lighter;
            display: inline;
        }

        .xvii {
            right: 250px;
        }

        .xix {
            left: 550px;
        }
    }

    .newton2 {

        img {
            margin-top: 60px;
            transform: scale(1.16);
        }
    }
}



//SLIDE 4 Huygens
.quatre {
    h2 {
        .small {
            font-size: 28px;
            margin-left: 20px;
        }
    }

    p {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    img {
        display: inline;
    }

    .left {
        position: relative;
        top: -150px;
        left: -200px;
        width: 1100px;
    }

    .right {
        position: relative;
        //bottom: 140px;
        left: 60px;
        width: 400px;
    }
}



//SLIDE 5 Interferences
.cinq {

    .title-box {

        .sub-title {
            h3 {
                position: relative;
                left: 200px;
                //top: -20px;
            }
        }
    }

    p {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    li {
        z-index: 1 !important;
        margin-bottom: 20px !important;
        span {
            font-weight: bold !important;
        }
    }

    img {
        //z-index: -1!important;
        margin-top: -20px !important;
        width: 1100px;
    }
}



//SLIDE 6 Young
.six {
    h2 {
        .small {
            font-size: 28px;
            margin-left: 20px;
        }
    }

    p {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    img {
        width: 800px;
    }

    .maths {
        h2 {
            margin-top: -100px;
            margin-bottom: 20px;
        }

        .first-p {
            text-align: left;
            margin-left: 50px;
            margin-bottom: -90px;
        }

        ul {
            margin-left: -300px;
            li {
                list-style-type: none;
            }
        }

        img {
            position: relative;
            top: 60px;
            left: 120px;
            display: inline;
            width: 500px;
        }

        .second-p {
            text-align: left;
            margin-left: 50px;
            margin-top: 40px;
            margin-bottom: -30px;
        }

        .second-ul {
            margin-top: 40px;
            margin-left: 40px;
            //margin-left: -450px;
        }

        .right {
        }

        .thrid-p {
            margin-bottom: -10px !important;
        }

        .box-1 {
            color: red;
        }
    }
}



//SLIDE 7
.sept {
    h2 {
        margin-top: -40px;
    }

    h4 {
        margin-top: 20px;
    }

    p {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    video {
        width: 800px;
    }
}



//SLIDE 8 Diffraction
.huit {
    h2 {
        margin-top: -100px;
        margin-bottom: 120px;
    }

    .first-p {
        margin-left: 100px;
        text-align: left;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .second-p {
        margin-left: 100px;
    }

    img {
        position: relative;
        //left: -100px;
        width: 320px;
    }
}



//SLIDE 9 Babinet
.neuf {
    h2 {
        margin-top: -100px;
        margin-bottom: 120px;
    }

    p {
        margin-left: 100px;
        text-align: left;
        margin-top: 100px;
        margin-bottom: 40px;
    }
    img {
        box-shadow: 15px 18px 49px 5px rgba(0, 0, 0, 0.32) !important;
        //position: relative;
        width: 420px;
    }
    em {
        display: block;
        margin-top: 20px;
    }
}



//SLIDE 10 Dispositif
.dix {
    h1 {
        margin-top: -200px;
        margin-bottom: 50px;
    }

    p {
        margin-bottom: 90px;
    }

    .left {
        li {
            margin-top: 0px !important;
        }
    }

    .right {
        img {
            width: 800px;
        }
    }
}



//SLIDE 11 Experience 1
.onze {
    h2 {
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .first {

        img {
            width: 400px;
        }

        .columns {
            margin-top: 50px;

            li {
                margin-top: 20px;
            }
        }
    }

    .second {

    }

    .third {

    }
}



//SLIDE 12 Experience 2
.douze {
    h2 {
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .first {

        img {
            width: 400px;
        }

        .columns {
            margin-top: 50px;

            li {
                margin-top: 20px;
            }
        }
    }

    .second {

    }

    .third {

    }
}



//SLIDE 13 Experience 3
.treize {
    h2 {
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .first {

        img {
            width: 400px;
        }

        .columns {
            margin-top: 50px;

            li {
                margin-top: 20px;
            }
        }
    }

    .second {

    }

    .third {

    }
}



//SLIDE 14 Conclusion
.quatorze {
    h2 {
        margin-top: -100px;
    }

    p {

    }
    img {
        width: 400px;
    }
}



//SLIDE 15 ???
.quinze {
    h2 {
        margin-top: -100px;
    }

    p {

    }
    img {
        width: 400px;
    }
}
